:root{
    --var1: rgb(0, 220, 250);
    --var2: rgb(0, 255, 255);
    --var3: rgb(35, 35, 35);
    --var4: rgb(15, 15, 15);
    --var5: rgb(0, 0, 0);
    --var6: rgb(255, 255, 255);
}
.white{
    color: var(--var6);
}
.skyblue{
    color: var(--var1);
}
.lightskyblue{
    color: var(--var2);
}
.black{
    color: var(--var5);
}
.center{
    text-align: center;
}
.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexSpaceEvenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexLeft{
    display: flex;
    justify-content: left;
    align-items: center;
}





@keyframes shadow-effect {
    0%{
        box-shadow: 0px 0px 5px 2px var(--var2);
    }
    25%{
        box-shadow: 0px 0px 10px 4px var(--var2);
    }
    50%{
        box-shadow: 0px 0px 15px 6px var(--var2);
    }
    75%{
        box-shadow: 0px 0px 10px 4px var(--var2);
    }
    100%{
        box-shadow: 0px 0px 5px 2px var(--var2);
    }
}
@keyframes border-blink {
    0%{
        border-right: 3px solid rgb(0, 220, 250, 0.3);
    }
    50%{
        border-right: 3px solid rgb(0, 220, 250, 0.9);
    }
    100%{
        border-right: 3px solid rgb(0, 220, 250, 0.3);
    }
}
@keyframes image-move {
    0%{
        top: 0px;
    }
    25%{
        top: -10px;
    }
    50%{
        top: 0px;
    }
    75%{
        top: 10px;
    }
    100%{
        top: 0px;
    }
}





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





body{
    width: 100%;
    height: fit-content;
    background-color: var(--var3);
}





header{
    width: 100%;
    height: fit-content;
    padding: 10px max(20px, 4vw);
    background-color: var(--var5);
    position: sticky;
    top: 0px;
    z-index: 10;
}
.hamburger-menu{
    height: 28px;
    padding: 5px 4px 5px 4px;
    border: 2.5px solid var(--var1);
    display: none;
    cursor: pointer;
}
.hContainer{
    width: 400px;
    display: flex;
} 
.hBox{
    display: block;
}
.hBox > div{
    width: 0%;
    height: 2px;
    background-color: var(--var1);
    transition: width 0.75s;
}
.hBox:hover > div{
    width: 100%;
}





main{
    padding: 0px max(18px, 3%);
}
section{
    width: 100%;
    height: fit-content;
    padding: max(10px, 8vh) max(10px, 4vw);
    margin: 5px 0px;
    background-color: var(--var4);
    position: relative;
    box-shadow: 0px 0px 10px 3px rgb(18, 18, 18);
}
section > .blink{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: visible;
    opacity: 0;
    transition: visibilty 0s, opacity 2s;
    background-color: var(--var2);
}
section:hover{
    animation: shadow-effect 2s linear 0s infinite;
}
section:hover > .blink{
    opacity: 1;
    visibility: hidden;
}
.home-section > div:nth-of-type(2){
    height: fit-content;
    width: fit-content;
    position: relative;
    z-index: 2;
}
.home-section > div:nth-of-type(2) > img{
    width: 270px;
    position: relative;
    filter: drop-shadow(0px 0px 20px var(--var2));
    animation: image-move 4s linear 0s infinite;
}
.home-section > div:nth-of-type(3){
    height: fit-content;
    width: 350px;
    display: block;
    position: relative;
    z-index: 2;
}
.typing-effect{
    animation: border-blink 0.75s steps(3, end) 0s infinite;
}
.home-section > div:nth-of-type(3) > div{
    height: fit-content;
    width: 150px;
}
.profile-link-image{
    width: 38px;
    border-radius: 20px;
    border: 3px solid var(--var1);
    background-color: var(--var6);
}
.profile-link-image:hover{
    box-shadow: 0px 0px 10px 0.2px var(--var2);
    background-color: var(--var1);
}





.about-container{
    width: 100%;
}
.about-container > .about-box:nth-of-type(1){
    width: max(340px, 45%);
    padding: 25px max(10px, 4%);
    height: fit-content;
    background-color: var(--var3);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 4px var(--var5);
    transition: transform 1s;
    position: relative;
    z-index: 2;
}
.about-container > .about-box:nth-of-type(1):hover{
    transform: scale(1.1, 1.1);
}
.about-container > .about-box:nth-of-type(2){
    width: 340px;
    height: 340px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    perspective: 1000px;
}
.about-card{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.about-card-front, .about-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.about-card-front > img{
    background: transparent;
    width: 250px;
    filter: drop-shadow(0px 0px 2px var(--var5));
}
.about-card-back {
  background-color: var(--var3);
  padding: 50px 25px;
  transform: rotateY(180deg);
  border-radius: 5px;
}
.about-card-back > ul{
    padding: 0px 5px 0px 30px;
}
.about-card-back > ul > li{
    margin: 10px 0px;
}





.skill-container{
    width: 100%;
    height: fit-content;
    padding: 25px max(10px, 4.5%);
}
.skill-box{
    width: 40%;
    height: fit-content;
    padding: 10px 35px 35px 35px;
    background-color: var(--var3);
    border-radius: 2px;
    box-shadow: 0px 0px 10px 4px var(--var5);
    position: relative;
    z-index: 2;
}
.technical-skill{
    width: 100%;
    height: fit-content;
}
.technical-skill > .flexSpaceBetween{
    align-items: baseline;
}
.technical-skill > div > div:nth-of-type(1){
    height: 30px;
}
.technical-skill > div > div > img{
    height: 25px;
    margin-right: 5px;
}
.technical-skill > div:nth-of-type(2){
    width: 100%;
    margin-top: 3px;
    height: 8px;
    background-color: var(--var4);
}
.technical-skill > div:nth-of-type(2) > div{
    width: 0%;
    height: 8px;
    background-color: var(--var1);
    box-shadow: 0px 0px 4px 0.1px var(--var2);
}
.skill-box > div{
    flex-wrap: wrap;
}
.skill-box{
    width: max(40%, 340px);
}
.soft-skill{
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.soft-skill > div{
    width: 110px;
    height: 110px;
    margin: auto;
    border-radius: 100px;
    background-color: var(--var4);
    margin-bottom: 5px;
}
.soft-skill > div > div{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background-color: var(--var3);
}




.project-container{
    width: 100%;
    height: fit-content;
    padding: 25px max(10px, 4%);
}
.project-box{
    width: 300px;
    height: fit-content;
    min-height: 280px;
    position: relative;
    background-color: var(--var3);
    box-shadow: 0px 0px 10px 5px var(--var5);
    border-radius: 5px;
    padding: 25px;
    margin: 15px 5px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}
.project-box > p{
    position: relative;
    z-index: 3;
}
.project-box-clone{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    transition: top 0.75s;
    background-image: linear-gradient(to bottom, rgb(0, 255, 255, 0), rgb(0, 255, 255, 0.2), rgb(0, 255, 255, 0.4), rgb(0, 255, 255, 0.6));
}
.project-box:hover > div{
    top: 0px;
}





.contact-container{
    width: max(60%, 300px);
    height: fit-content;
    padding: 25px 50px;
    background-color: var(--var3);
    margin: 5px auto;
    box-shadow: 0px 0px 10px 4px var(--var5);
    position: relative;
    z-index: 2;
}
.inputField{
    display: block;
    width: 100%;
    height: 30px;
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    margin: 8px 0px;
}
.inputField::placeholder{
    color: var(--var3);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.inputField:focus{
    outline: 3px solid var(--var1);
}
textarea{
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    margin: 5px auto;
    border: none;
    border-radius: 3px;
    resize: vertical;
}
textarea:focus{
    outline: 3px solid var(--var1);
}
textarea::placeholder{
    color: var(--var3);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
input[type="submit"]{
    display: block;
    margin: auto;
}








footer{
    width: 100%;
    height: fit-content;
    padding: 22px 15px;
    background-color: var(--var5);
}